:root {
    --bg-violet: hsl(273, 75%, 66%);
    --bg-blue: hsl(240, 73%, 65%);
    --bg-card: #fff;
    --c-title: hsl(240, 6%, 50%);
    --c-question-close: hsl(237, 12%, 33%);
    --c-question-open: hsl(238, 29%, 16%);
    --c-question-hover: hsl(14, 88%, 65%);
    --c-answer: hsl(240, 5%, 91%);
}


/* -----Typography----- */

body {
    font-family: "Kumbh Sans", sans-serif;
    font-size: 12px;
}

h1 {
    font-weight: 700;
    font-size: 2rem;
}

summary {
    font-weight: 400;
    font-size: 14px;
}

p {
    color: hsl(240, 6%, 50%);
}


/* -----Global styles----- */


body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, var(--bg-violet), var(--bg-blue));
}

.container {
    width: 85%;
    margin: 0;
    padding: 150px 0 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.card {
    width: 100%;
    padding: 20px;
    margin: 0 auto;
    background-color: var(--bg-card);
    box-shadow: 0px 50px 40px 0px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    position: relative;
}

.illustration__box,
.illustration__woman {
    position: absolute;
}

.illustration__box {
    top: 2%;
    left: 50%;
    transform: translate(-50%, -10%);
}

.illustration__woman {
    z-index: 100;
    top: 11%;
    left: 45%;
    transform: translate(-50%, -20%);
}

.card__faq {
    margin-top: 7rem;
    padding-bottom: 1rem;
}

h1 {
    text-align: center;
    padding: .8rem;
}

.accordion {
    max-height: 250px;
    overflow-y: auto;
    overflow-x: hidden;
}

details[open] summary {
    font-weight: 700;
    color: var(--c-question-open);
}

summary {
    list-style: none;
    color: var(--c-question-close);
    position: relative;
}

summary:hover,
summary:focus {
    color: var(--c-question-hover);
    cursor: pointer;
    transition: color .3s ease-out
}

summary:focus {
    outline: 2px dashed var(--bg-blue);
    outline-offset: 5px;

}

summary:after {
    content: url("../images/icon-arrow-down.svg");
    position: absolute;
    top: 0;
    right: 1%;
    transition: transform .4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

details[open] summary:after {
    transform: rotate(180deg);
}

hr {
    margin: 1rem 0;
    border: none;
    border-top: 2px solid hsl(240, 5%, 91%);
}


/* -----Custom scroll bar----- */

::-webkit-scrollbar {
    width: 3px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: -webkit-linear-gradient(45deg, var(--bg-blue), var(--bg-violet));
}


/* -----Mobile-view Animations----- */

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-1.25em);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes illustrationMobile {
    0% {
        top: 11%
    }

    50% {
        top: 15%;
    }

    100% {
        top: 11%
    }
}

@keyframes shadow {
    0% {
        height: 104px;
        width: 240px;
    }

    50% {
        height: 95px;
        width: 210px;
    }

    100% {
        height: 104px;
        width: 240px;
    }
}


details[open] p {
    animation-name: fadeInDown;
    animation-duration: 0.5s;
}

.illustration__woman {
    animation: illustrationMobile 2.5s cubic-bezier(0.37, 0, 0.63, 1) forwards infinite;
}

.illustration__box {
    animation: shadow 2.5s cubic-bezier(0.37, 0, 0.63, 1) forwards infinite;
}


/* -----Media Queries----- */


@media(min-width: 720px) {

    .container {
        max-width: 655px;
    }

    .illustration__woman {
        top: 11%;
        left: 48%;
        transform: translate(-50%, -20%);
    }

    .card {
        background-image: url("../images/bg-pattern-desktop.svg");
        background-size: 95%;
        background-position: 500px 50%;
        background-repeat: no-repeat;
    }
}


@media(min-width: 1200px) {

    .container {
        min-width: 72%;
        max-width: 72%;
        padding: 0;
        position: relative;
    }

    .container:before {
        content: url("../images/illustration-box-desktop.svg");
        position: absolute;
        top: 38%;
        left: -90px;
        z-index: 101;
    }


    .card {
        padding: 70px;
        display: flex;
        flex-direction: row-reverse;
        background-position: -1050% 72%;
        background-size: 95%;
        position: relative;
        overflow: hidden;
    }

    .card:before {
        content: url("../images/illustration-woman-online-desktop.svg");
        width: 90%;
        position: absolute;
        left: -70px;
        top: 55px;
    }

    .illustration__box,
    .illustration__woman {
        display: none;
    }

    .card__faq {
        width: 45%;
        margin: 0;
    }

    h1 {
        text-align: left;
        padding-left: 0;
    }

    /* -----Desktop-view Animations----- */

    @keyframes illustrationDesktop {
        0% {
            top: 55px;
        }

        50% {
            top: 70px;
        }

        100% {
            top: 55px;
        }
    }

    @keyframes box {
        0% {
            top: 38%;
        }

        50% {
            top: 42%;
        }

        100% {
            top: 38%;
        }
    }

    .container:before {
        animation: box 2s cubic-bezier(0.37, 0, 0.63, 1) forwards infinite;
    }

    .card:before {
        animation: illustrationDesktop 2s cubic-bezier(0.37, 0, 0.63, 1) forwards infinite;
    }

}


@media (min-width: 1440px) {

    .container {
        min-width: 62%;
        max-width: 62%;
    }
}


/* -----Prefers reduced motion----- */

@media (prefers-reduced-motion) {

    .illustration__woman,
    .illustration__box,
    .container:before,
    .card::before {
        animation: none;
    }
}